<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>768867931851-24njuhfsjbbbkd78b1cim6jal9r50ne4.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.768867931851-24njuhfsjbbbkd78b1cim6jal9r50ne4</string>
	<key>API_KEY</key>
	<string>AIzaSyDIStVga1_DkK21uo7zyA9PRWgoQFEv-uI</string>
	<key>GCM_SENDER_ID</key>
	<string>768867931851</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>josh.GymAI</string>
	<key>PROJECT_ID</key>
	<string>gymai-a62cb</string>
	<key>STORAGE_BUCKET</key>
	<string>gymai-a62cb.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:768867931851:ios:23b9a3995a681433a8ad4e</string>
</dict>
</plist>